{% extends "layouts/main.html" %}

{% include "layouts/navbar.html" %}

{% block main %}
    <div class="row book">
        <div class="col">
            {% for r in reviews["all_reviews"]%}
                <blockquote class="blockquote">
                <p class="mb-0">{{ r.review }}</p>
                <footer class="blockquote-footer text-right">{{ r.full_name }} <cite title="Source Title"><small class="text-muted">{{ r.create_date }}</small></cite></footer>
                </blockquote>
            {% endfor %}
            <div class="row">
                {% if reviews["current_user_submitted"] %}
                <div class="col">
                    <form class="was-validated" action="{{ url_for('show', id=book.id) }}" method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <div class="mb-3">
                          {{ form.reviews(class_="form-control") }}
                          {% if form.submit.errors %}
                          <ul>
                            {% for error in form.submit.errors%}
                                <li>error</li>
                            {% endfor %}
                          </ul>
                          {% endif %}
                        </div>
                        {{ form.submit(class_="btn btn-primary") }}
                    </form>
                </div>
                {% endif %}
                </div>
        </div>
        <div class="col">
            <div class="card" style="width: 30rem;">
                <div class="row justify-content-between">
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ book.title }}</h5>
                            <p class="card-text"><small class="text-muted">Author </small>{{ book.author }}</p>
                            <div class="row justify-content-between">
                                <div class="col-3">
                                    <small class="text-muted">Year</small>
                                    <p class="card-text">{{ book.year }}</p>
                                </div>
                                <div class="col-6">
                                    <small class="text-muted">ISBN</small>
                                    <p class="card-text">{{ book.isbn }}</p>
                                </div>
                            </div>
                            <hr />
                            <div class="row justify-content-between">
                                <div class="col">
                                    {% for i in range(ratings["average_rating"]|int) %}
                                        <span class="fa fa-star checked"></span>
                                    {% endfor %}
                                    {% if ratings["average_rating"] | float %}
                                        <span class="fa fa-star-half checked"></span>
                                    {% endif %}
                                    <p class="card-text">{{ ratings["average_rating"] }} (<small class="text-muted">{{ ratings["ratings_count"] }}</small>)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <img class="card-book-cover card-img-top img-fluid" src="http://covers.openlibrary.org/b/isbn/{{book.isbn}}-M.jpg">
                    </div>
                </div>
            </div>
        </div>
        
    </div>
  
{% endblock %}