{% extends "layouts/main.html" %}


{% block main %}
    <div class="row justify-content-center">
        <div class="co-5">
            <div class="card" style="width: 30rem;">
                <div class="row justify-content-between">
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ book.title }}</h5>
                            <p class="card-text"><small class="text-muted">Author </small>{{ book.author }}</p>
                            <div class="row justify-content-between">
                                <div class="col-3">
                                    <small class="text-muted">Year</small>
                                    <p class="card-text">{{ book.year }}</p>
                                </div>
                                <div class="col-6">
                                    <small class="text-muted">ISBN</small>
                                    <p class="card-text">{{ book.isbn }}</p>
                                </div>
                            </div>
                            <hr />
                            <div class="row justify-content-between">
                                <div class="col">
                                    {% for i in range(ratings["average_rating"]|int) %}
                                        <span class="fa fa-star checked"></span>
                                    {% endfor %}
                                    {% if ratings["average_rating"] | float %}
                                        <span class="fa fa-star-half checked"></span>
                                    {% endif %}
                                    <p class="card-text">{{ ratings["average_rating"] }} (<small class="text-muted">{{ ratings["ratings_count"] }}</small>)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <img class="card-book-cover card-img-top img-fluid" src="http://covers.openlibrary.org/b/isbn/{{book.isbn}}-M.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br / >
    <div class="row justify-content-center">
        <div class="col-5">
            <form class="was-validated" action="{{ url_for('show', isbn=book.isbn) }}" method="POST">
                <div class="mb-3">
                  <label for="validationTextarea">Leave a review</label>
                  <textarea class="form-control is-invalid" id="validationTextarea" name="review" placeholder="Please enter your review" required></textarea>
                </div>
              
                <div class="form-group">
                  <select class="custom-select" name="ratings" required>
                    <option value="">Select your rating</option>
                    {% for i in range(1,6) %}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                  </select>
                  <div class="invalid-feedback">Example invalid custom select feedback</div>
                </div>
                <button class="btn btn-primary" type="submit">Submit form</button>
              </form>
        </div>
    </div>
{% endblock %}