input[type="search"] {
    text-align: center;
}

input[type="search"]:active, input[type="search"]:hover {
    border-width: 2px;
}

.message {
    font-size: large;
    text-align: center;
    font-weight: bolder;
} 

.col {
    padding: 10px;
}

.card-books-cover {
    width: 40px !important;
}

hr {
    margin-top: 0px;
}

.card-book-cover {
    padding: 10px;
}

.checked {
    color: orange;
}

.card_link, .card_link:hover, .card_link:focus, .card_link:active {
    text-decoration: none;
    color: inherit;
}

.btn-primary {
    float: right;
    margin: 5px;
    background-color: teal;
}


textarea {
    border-color: antiquewhite !important;
}

.btn:hover {
    background-color: teal !important;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}


.signle {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}

.navbar-dark, .dropdown-menu, .dropdown-menu a:hover {
    background-color: darkslategray !important;

}

.book, .login {
    margin-top: 100px;
}

.register {
    margin-top: 50px;
}
