input[type="search"] {
    text-align: center;
}

input[type="search"]:active, input[type="search"]:hover {
    text-align:center ;
    height: 10vh;
    font-size: x-large;
    border-radius: 10px;
    border-width: 2px;
}

.search {
    padding: 10px;
}

.col {
    padding: 10px;
}

.card-books-cover {
    width: 40px !important;
}

hr {
    margin-top: 0px;
}

.card-book-cover {
    padding: 10px;
}

.checked {
    color: orange;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
