{% extends "layouts/main.html" %}

{% block title %}Review Analytics{% endblock %}

{% include "layouts/navbar.html" %}
{% block main %}
   
{% include "layouts/flash.html" %}
<div class="row test">
        {% for book in books %}
        <div class="col-lg-4 col-md-6 p-2">
            <a href="{{url_for('show', id=book.id)}}" class="card_link">
              <div class="card custom-card">
                <div class="card-body">
                    <div class="row justify-content-between">
                      <div class="col-9">
                        <h5 class="card-title">{{ book.title }}</h5>
                        <p class="card-text">{{ book.author }}</p>
                      </div>
                      <div class="col-3">
                        <img class="card-img-top card-books-cover img-fluid" src="http://covers.openlibrary.org/b/isbn/{{book.isbn}}-S.jpg" al>
                      </div>
                    </div>
                    <div class="row justify-content-between">
                        <div class="col-3">
                          <small class="text-muted">Year</small>
                          <p class="card-text">{{ book.year }}</p>
                        </div>
                        <div class="col-6">
                          <small class="text-muted">ISBN</small>
                          <p class="card-text">{{ book.isbn }}</p>
                        </div>
                  </div>
                </div>
              </div>
            </a>
        </div>
      {% endfor %}
</div>
{% endblock%}